---
//home-hero section

//style imports:
import "../styles/HomeStyles.css";

//image imports:
// import testImg from "../images/personal-site-book.png";

import books from "../images/personal-site-book.png";
import glasses from "../images/personal-site-glasses.png";
import laptop from "../images/personal-site-laptop.png";
import yarn from "../images/personal-site-yarn.png";
---

<section id="home-section">
    <h1>hi from home!</h1>
    <!-- <img src={testImg.src} /> -->
    <div id="grid-home-section">
        <div><img src={books.src}/></div>
        <div><p></p></div>
        <div><img src={glasses.src}/></div>
        <div><p></p></div>
        <div><p>hello world!</p></div>
        <div><p></p></div>
        <div><img src={laptop.src}/></div>
        <div><p></p></div>
        <div><img src={yarn.src}/></div>

    </div>
</section>
